@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.wrapper{
    max-width: 1046px;
    margin: 0 auto;
}

/*-------------menu ----------------*/

.menu__wrapper {
    display: flex;
    flex-direction: row;
    padding: 36px 0px;
    align-items: center;
}
.menu__logo {
    margin-right: 132px;
    height: 32px;
    width: 91px;
}
.menu__itmes {
    display: flex;
    width: 282px;
    justify-content: space-between;
}
.item-menu__item {
    text-decoration: none;
    color: #737373;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.item-menu__item:hover{
    color: #3f3f3f;
    text-shadow: 0 0 1px #959595;
}
/*-------------menu end----------------*/

/*-------------header----------------*/

.header__bg {
    background-image: url('../img/header/header-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -104px;
}
.header__wrapper {
    display: flex;
    flex-direction: column;
}
.header__title {
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 0px;
    color: #252B42;
}
.header__text {
    font-weight: 500;
    line-height: 30px;
    letter-spacing: .2px;
    text-align: left;
    margin-top: 35px;
    color: #737373;
}
.header__button-rotate {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}
.header__get-button {
    font-weight: 700;
    line-height: 28px;
    letter-spacing: .2px;
    padding: 10px 36px;
    color: #fff;
    background-color: #FF7B47;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-right: 10px;
}
.header__more-button {
    padding: 10px 36px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #0D5C63;
    border: .5px solid #0D5C63;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.header__services {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}
.services__item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 31.36%;
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 10px;
    gap: 10px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.services__item:hover{
    background-color: #0D5C63;
    cursor: default;
}
.services__logo {
    width: 48px;
    height: 48px;
}
.services__item:hover .services__logo svg{
    fill: #fff;
}
.services__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .1px;
    color: #252B42;
}
.services__item:hover .services__title {
    color: white;
}
.services__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .2px;
    color: #737373;
}
.services__item:hover .services__text {
    color: white;
}

/*-------------header end----------------*/